@charset utf-8;
Body {
	display: block;
	background: linear-gradient(rgb(176,196,222),rgb(143,188,143),rgb(176,196,222));
	height: 928px;
}
div#interface {
	margin: 5px 150px auto 150px;
	border: 1px solid black; 
	background-color: white;
}
/*cabecalho*/
div#interface header#cabecalho img{
	position: relative;
	margin: 20px 0px 0px 50px;
}
div#interface header#cabecalho nav{
	position: absolute;
	left:800px;
	margin-top: 150px;
	
}
div#interface header#cabecalho nav a{
	text-transform: uppercase;
	margin-left: 5px;
	background-color: aqua;
}
/*logo marcas*/
div#corpo section#logomarcas{
	margin-top: 200px;
}
div#corpo section#logomarcas img{
	margin: 0px;
	box-shadow: 1px 1px 10px black;
}
ol {
	box-shadow: 1px 1px 10px black;
	width:1000px;
	margin: 10px 1px 10px 1px;
	padding: 0px;
	text-align: center;
	
	
	
	
}
li {
	display: inline-block;
	padding: 0px;
	width: 150px;
	height: 150px;
	margin: 5px;
	margin-bottom: 0px;
}

div#texto {
    text-align: center;
    margin-top: 250px;
}